.active-page {
    color: #e74c3c !important;
    font-weight: bold;
}
.pagination {
    cursor: pointer;
    text-align: center;
}
.pagination span {
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-weight: 400;
    font-size: 12px;
    margin: 6px 1px;
    display: inline-block;
    background: #2c3e50;
    color: #fff;
    position: relative;
    padding-right: 15px;
}
.pagination span:hover{
    color: #e74c3c;
}
.prev {
    border-radius: 30px 0 0 30px;
    padding-left: 10px;
}
.next {
    border-radius: 0px 30px 30px 0px;
}
.pagination span::before, .pagination span::after {
    content: '';
    position: absolute;
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
}
.num::before, .next::before {
    border-right: 10px solid #2c3e50;
    right: 100%;
}
.num::after, .prev::after {
    border-right: 10px solid #f1f1f1;
    right: 0;
}
.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}