.container {
    display: inline-block;
}
.card {
    position: relative;
    margin: 5px;
    display: inline-block;
}
.card .face {
    width: 150px;
    height: 100px;
    transition: 0.5s;
}
.card .face-sub {
    width: 150px;
    height: 20px;
    transition: 0.5s;
}
.card .face.face1 .content {
    opacity: 0.6;
    transition: 0.5s;
}
.card:hover .face.face1 .content {
    opacity: 1;
}
.card .face.face1 .content img {
    display: block;
    margin: 0 auto;
    height: 60px;
}
.card .face.face1 .content h3 {
    margin: 5px 0 0;
    padding: 0;
    color: grey;
    text-align: center;
    font-size: 0.8em;
}
.card .face.face1 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(0px) ;
}
.card:hover .face.face1 {
    transform: translateY(0);
}
.card .face-sub.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    transform: translateY(-50px) ;
}
.card:hover .face-sub.face2 {
    transform: translateY(0) ;
}
.card .face-sub.face2 .content p {
    margin: 0;
    padding: 0;
}
.card .face-sub.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.card .face-sub.face2 .content a:hover{
    background: #333;
    color: #fff;
}
.card .content .follow {
    background: #2196f3;
    color: #fff;
    border: none;
    width: 100px;
    height: 20px;
    font-weight: 500;
}
.card .content .unfollow {
    background: #2c3e50;
    color: #fff;
    border: none;
    width: 100px;
    height: 20px;
    font-weight: 500;
}
.card .content input[type='button']:hover {
    box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
}