.nav{
  padding:10px;
  grid-area: n;
  background-color: #bbdefb;
  margin: 5px;
  border-radius: 5px;
}
.item a{
  color: black;
  text-decoration: none;
}
.item a.activeLink {
  color: firebrick;
}
.item a:hover {
  color: white;
}
