.wrapper {
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 12fr;
}
.wrapper-content{
  grid-area: c;
  margin: 5px;
  background-color: #e0f7fa;
  border: 1px solid #bbdefb ;
  border-radius: 5px;
}
